<footer class="bg-main-light py-4">
<div class="container">
    <h2 class="text-main fw-bolder">Get eShop App</h2>
    <p class="font-dark">Please Insert Your Email To Receive The Download Link </p>

    <div class="d-flex gap-2">
        <input type="email" class="form-control rounded-5" placeholder="Email.." id="email">
        <button class="main-btn flex-shrink-0 ">Send Email</button>
    </div>
    <h3 class="text-center h6 mt-5 text-muted">&copy;2023 All Rights Reserved</h3>
</div>
</footer>