<section *ngIf="step1" class="my-4 py-4 text-center rounded-5 w-75 mx-auto shadow bg-main-light">
  <h3 class="h1 pt-5 pb-4 fw-bolder text-main">Forgot Password:</h3>

  <form [formGroup]="emailForm" (ngSubmit)="handleForgotPassword()">
    <div class="form-item mb-3">
      <mat-form-field appearance="outline" class="w-75">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Your Email" type="email" formControlName="email" />

        <mat-error *ngIf="emailForm.get('email')?.getError('required')"
          >Email is required</mat-error
        >
        <mat-error *ngIf="emailForm.get('email')?.getError('email')">Email is Invalid</mat-error>
      </mat-form-field>
    </div>

    <button class="main-btn d-block mx-auto fs-6 w-25 mb-2">
      Send Verification Code
      <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
    </button>
    <p *ngIf="userMsg" class="text-danger">{{ userMsg }}</p>
  </form>

  <mat-error class="mt-2">{{ errMsg }}</mat-error>
</section>

<section *ngIf="step2" class="my-4 py-4 text-center rounded-5 w-75 mx-auto shadow bg-main-light">
  <h3 class="h1 pt-5 pb-4 fw-bolder text-main">Reset Code:</h3>

  <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
    <div class="form-item mb-3">
      <mat-form-field appearance="outline" class="w-75">
        <mat-label>Reset Code</mat-label>
        <input matInput placeholder="Enter Reset Code" type="text" formControlName="resetCode" />

        <mat-error *ngIf="emailForm.get('resetCode')?.getError('required')"
          >Reset Code is required</mat-error
        >
      </mat-form-field>
    </div>

    <button class="main-btn d-block mx-auto fs-6 w-25">
      Submit
      <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
    </button>
    <p *ngIf="userMsg" class="text-danger">{{ userMsg }}</p>
  </form>

  <mat-error class="mt-2">{{ errMsg }}</mat-error>
</section>

<section *ngIf="step3" class="my-4 py-4 text-center rounded-5 w-75 mx-auto shadow bg-main-light">
  <h3 class="h1 pt-5 pb-4 fw-bolder text-main">Reset Password:</h3>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="form-item mb-3">
      <mat-form-field appearance="outline" class="w-75">
        <mat-label>Reset Password</mat-label>
        <input
          matInput
          placeholder="Enter New Password"
          type="password"
          formControlName="newPassword"
        />

        <mat-error *ngIf="emailForm.get('newPassword')?.getError('required')"
          >Email is required</mat-error
        >
        <mat-error *ngIf="emailForm.get('newPassword')?.getError('pattern')"
          >Password is Invalid</mat-error
        >
      </mat-form-field>
    </div>

    <button class="main-btn d-block mx-auto fs-6 w-25">
      Reset Password
      <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
    </button>
    <p *ngIf="userMsg" class="text-danger">{{ userMsg }}</p>
  </form>

  <mat-error class="mt-2">{{ errMsg }}</mat-error>
</section>
